asgiref==3.7.2
Django~=4.2.7
Pillow==10.1.0
sqlparse==0.4.4
djangorestframework~=3.14.0
python-dotenv~=1.0.0
pyotp~=2.9.0
djangorestframework-simplejwt
requests~=2.31.0
google-api-core==1.22.2
google-api-python-client==1.12.1
google-auth==1.21.2
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
psycopg2
gunicorn==21.2.0
whitenoise==6.5.0
dj-database-url
python-decouple
django-jazzmin
drf_spectacular
django-cors-headers
django-allauth
django-rest-authtoken
social-auth-app-django